
	

	

	h1{
		text-align: center;
		color: rgb(255, 183, 69);;
	
	}
	
	img{
		float: left;
		margin-right: 15px;
	}
	nav {
		    margin-top: 300px;
    		display: flex;
	}
		
	section{
		margin-top: 530px;
		font-size: 20px;
	}

	nav a{

		/*display: block;
		width: 200px;*/
		/*color:black;*/
		font-size: 30px;
		/*text-decoration: none;*/
	}
	

	
	
	